tqdm==4.43.0
whatthelang==1.0.1
colorlover==0.3.0
numpy==1.18.1
allennlp==0.9.0
pandas==1.0.2
dataset==1.3.0
dask==2.12.0
pytest==5.3.5
plotly==4.5.1
more_itertools==8.2.0
umap_learn==0.3.10
scipy==1.4.1
hdbscan==0.8.25
overrides==2.8.0
torch==1.5.0
jsonlines==1.2.0
transformers==4.30.0
nltk==3.4.5
joblib==0.14.1
scikit_learn==0.22.2.post1
umap==0.1.1
vaderSentiment==3.3.1
